{{ define "title" }} Not Found {{ end }}

{{ define "header_page" }}
{{ end }}

{{ define "section_title" }} 找不到此页 {{ end }}

{{ define "section" }}
    <h1>找不到此页</h1>
{{ end }}

{{ define "script_section" }} {{ end }}
